/* Navbar styles */
nav {
  background-color: #2c2d32;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

nav a {
  display: block;
  color: #ecf0f1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover,
nav a.logout:hover {
  color: #21aca8;
}

#welcome-message {
  color: white;
  margin-right: 10px;
  background-color: #2c2d32;
  padding: 10px;
  border: 2px solid #2c2d32;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #ecf0f1;
  overflow: hidden;
}

nav a.logout {
  color: #ecf0f1;
  margin-left: 10px;
}

/* Container styles */
.container {
  height: 600px;
  width: 500px;
  background-color: white;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup,
.signin {
  height: 40px;
  width: 150px; /* Adjusted width */
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #e74c3c;
  cursor: pointer;
  color: white;
  background-color: #2c2d32;
  margin-bottom: 20px;
}

.signup:hover,
.signin:hover {
  background-color: #111111;
}

.form-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-section {
  display: none;
}

.form-section:first-child {
  display: block;
}

.create-account h2,
.login h2 {
  color: #333;
  text-align: center;
  /* margin-bottom: 10px; */
}

.create-account p,
.login p {
  margin-top: -10px;
}

.create-account form,
.login form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account input[type="text"],
.create-account input[type="password"],
.login input[type="text"],
.login input[type="password"] {
  width: 150px;
  height: 10px; /* Adjusted height */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account input[type="submit"],
.login input[type="submit"],
.signup,
.signin {
  width: 150px;
  height: 40px;
  background-color: #2c2d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin to separate buttons */
}

.continue-guest {
  text-align: center; /* Center the anchor tag */
  margin-top: 10px;
}

.continue-guest-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c2d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.create-account input[type="submit"]:hover,
.login input[type="submit"]:hover,
.signup:hover,
.signin:hover,
.continue-guest-btn:hover {
  background-color: #21aca8;
}

@media screen and (max-width: 650px) {
  .container {
    height: 600px;
    width: 300px;
  }

  .btn {
    height: 50px;
    width: 200px;
    margin: 20px auto;
  }

  .form-section {
    height: 500px;
    width: 600px;
  }

  .login-box,
  .signup-box {
    width: 300px;
  }

  .ele {
    height: 50px;
    width: 250px;
    font-size: 15px;
  }

  .clkbtn {
    height: 50px;
    width: 130px;
    font-size: 19px;
  }

  nav {
    padding: 0 10px;
  }

  nav a {
    padding: 10px;
  }

  #welcome-message {
    margin-right: 5px;
    padding: 5px;
    font-size: 14px;
  }

  .create-account input[type="text"],
  .create-account input[type="password"],
  .login input[type="text"],
  .login input[type="password"] {
    width: 150px;
    font-size: 12px;
  }

  .create-account input[type="submit"],
  .login input[type="submit"] {
    width: 120px;
    height: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  /* Phones */
  .container {
    height: auto; /* Adjusted height */
    width: 100%; /* Adjusted width */
    padding: 20px 10px; /* Adjusted padding */
  }

  .btn {
    height: 50px;
    width: 90%; /* Adjusted width */
    margin: 20px auto;
  }

  .form-section {
    height: auto; /* Adjusted height */
    width: 100%; /* Adjusted width */
    padding: 0 10px; /* Adjusted padding */
  }

  .login-box,
  .signup-box {
    width: 100%; /* Adjusted width */
  }

  .ele {
    height: 50px;
    width: 90%; /* Adjusted width */
    font-size: 15px;
  }

  .clkbtn {
    height: 50px;
    width: 70%; /* Adjusted width */
    font-size: 19px;
  }

  nav {
    padding: 0 5px;
  }

  nav a {
    padding: 8px;
  }

  #welcome-message {
    margin-right: 3px;
    padding: 3px;
    font-size: 12px;
  }

  .create-account input[type="text"],
  .create-account input[type="password"],
  .login input[type="text"],
  .login input[type="password"] {
    width: 90%; /* Adjusted width
    font-size: 12px; /* Adjusted font size */
  }

  .create-account input[type="submit"],
  .login input[type="submit"] {
    width: 90%; /* Adjusted width */
    height: 35px; /* Adjusted height */
    font-size: 14px; /* Adjusted font size */
    margin-top: 10px; /* Adjusted margin */
  }

  .continue-guest-btn {
    width: 90%; /* Adjusted width */
    font-size: 14px; /* Adjusted font size */
    margin-top: 10px; /* Adjusted margin */
  }
}
